.app-container {
  height: 100vh; /* Full viewport height */
  padding: 5% 30%;
}

.generate-button {
  margin: auto; /* Center the button in the available space */
}

.pdf-viewer-container {
  flex: 1; /* Take up the remaining space */
  padding: 20px; /* Responsive padding */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    padding: 10px;
  }
}

.worksheet-display {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.worksheet-row {
  display: flex;
}

.worksheet-problem {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  min-width: 50px;
  text-align: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;   /* Adjust the width as needed */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh; /* Adjust the height of the modal */
  overflow: auto; /* Scroll if content exceeds modal height */
}

@media (max-width: 768px) {
  .modal-content {
    width: 95%;   /* Larger width for smaller screens */
    height: auto; /* Auto height for better mobile viewing */
  }
}

h1 {
  color: #2a3f54;
  text-align: center;
}

.form-container{
  padding: 60px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button:hover {
  background-color: #45a049;
}


/* Responsive design */
@media (max-width: 768px) {
  .worksheet-row {
    flex-direction: column;
  }
}


.download-button {
  display: inline-block;
  background-color: #4CAF50; /* Example button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 16px;
}

.download-button:hover, .download-button:focus {
  background-color: #45a049; /* Slightly darker green */
}


.pdf-iframe {
  height: 60vh; /* Set the height to a percentage of the viewport height */
  width: 100%;  /* Allow the width to adjust as needed */
  border: none; /* Remove iframe border */
  margin-bottom: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Adjust as needed */
}

.thumbnail-image {
  width: 100px; /* Set the width for the thumbnail */
  height: 141px; /* Maintain aspect ratio */
  margin: 5px; /* Add some space around each thumbnail */
  cursor: pointer; /* Change cursor on hover */
  border: 1px solid #ddd; /* Add a border for better visibility */
  border-radius: 5px; /* Optional: rounded corners for aesthetics */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
}

.modal-close-button {
  position: absolute;
  top: -5px; /* Move button 10px above the modal */
  right: -5px; /* Move button 10px to the right of the modal */
  border: none;
  background: #eea830; /* Add a background color */
  width: 30px; /* Button width */
  height: 30px; /* Button height */
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Optional: Add shadow for depth */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Switch Slider */
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded Slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Container for the label and the slider */
.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the label and the slider */
}

/* Style for the label */
.toggle-container label {
  margin: 0;
  font-size: 16px; /* Adjust the font size as needed */
}